<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>演出圈</title>
		<%= stylesheet_link_tag    'home', media: 'all' %>
	  <%= javascript_include_tag 'home' %>
	  <%= csrf_meta_tags %>
	  <%= favicon_link_tag 'favicon.ico' %>
	</head>

		<body>
			<nav class="navbar-home">
				<div class="navbar-logo-home">
					<%= link_to "演出圈", "#" %>
				</div>

				<ul class="nav-navbar-home">
					<li><%= link_to '产品概论', '#' %></li>
					<li><%= link_to '加入我们', '#' %></li>
					<li><%= link_to '关于', '#' %></li>
				</ul>
			</nav>
		</body>
</html>