<% provide(:title, '创建演出') %>
<%#= stylesheet_link_tag 'doc/simditor/editor' %>
<%#= stylesheet_link_tag 'doc/simditor/fonticon' %>
<%#= stylesheet_link_tag 'doc/simditor/simditor' %>
<%#= stylesheet_link_tag 'doc/simditor/simditor-mention.css' %>

<h2>创建演出</h2>

<%= simple_form_for @product, html: { class: "form-horizontal",  multipart: true } do |f| %>
  <div class="col-sm-8 col-sm-offset-2">
    <%= f.input :title, input_html: { maxlength: 30, class: 'form-control' }, autofocus: true %>
    
    </br>
    <%#= f.input :cover_path, as: :hidden, input_html: { id: "cover_path", readonly: true } %>
    <!-- <img src="<%= @product.cover_path %>" id="show_cover_path" width="100" height="100"/> -->
    <!-- <a class="btn btn-default" id="pickfiles">上传封面图片</a> -->
    <%= image_tag(@product.cover_path_url) if @product.cover_path? %>
    <%= f.input :cover_path, as: :file %>
    <%= f.input :cover_path_cache, as: :hidden %>

    <%#= f.input :describe, as: :text, input_html: { id: 'editor', maxlength: 5000 } %>
    <%= f.input :location, as: :text, input_html: {class: 'form-control'} %>
    <%= f.input :price, input_html: {class: 'form-control'} %>
    <%= f.input :real_price, input_html: {class: 'form-control'} %>
    <%= f.input :show_time %>
    <%= f.input :describe, input_html: { rows: 30, class: 'form-control' } %>
    <%#= f.association :categories, as: :check_boxes %>

    </br>
    <%= f.button :submit, "发布演出", class: 'btn-lg btn-block', data: { disable_with: '发布中...' } %>
    </br></br>
  </div>
<% end %>