<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
	    <div class="navbar-header center-block">
	      <%= link_to "学生票", root_path, class: "navbar-brand" %>
	    </div>

	    <ul class="nav navbar-nav">
	    	<%= nav_link '产品概览', '#', 'active', true %>
	    	<%= nav_link '加入我们', '#', 'active', true %>
	    	<%= nav_link '演出列表', products_path, 'active', true %>
			</ul>

		<ul class="nav navbar-nav navbar-right">
			<% if signed_in? %>
			    <li><%= link_to "发布演出", new_product_path %></li>
			    <li class="dropdown">
			      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			      	<%= current_user.name %>
			      	<span class="caret"></span>
			      </a>
			      <ul class="dropdown-menu" role="menu">
			        <li><%= link_to "安全退出", logout_path, method: :delete %></li>
			      </ul>
			    </li>
			<% else %>
			    <li class="dropdown">
			    	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			    		登录<span class="caret"></span>
			    	</a>
			    	<ul class="dropdown-menu" role="menu">
			    		<li><%= link_to "登录", login_path %></li>
			    		<li><%= link_to "注册", new_user_path %></li>
			    	</ul>
			    </li>
			<% end %>
		</ul>
	</div>
</nav>